.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;

}

.card img {
  height: 40%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.text-center {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 30px;
}

.cards p, h4 {
  padding: 0 8px;
}

.cards p {
  color: rgb(147, 147, 147);
}
